<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column left">
                <div class="center">

                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="ED">Profile Name</span>
                </div>
            </div>
            <div class="column middle">
                <div class="text">
                    <h1>Profile Setting</h1>
                </div>
                <div class="name">
                    <h6>Name</h6>
                    <input type="text" class="box1" value="" placeholder="surname">
                </div>
                <div class="surname">
                    <h6>surname</h6>
                    <input type="text" class="box1" value="" placeholder="surname">

                </div>
                <div class="Mobile">
                    <h6>Address Line1</h6>
                    <input type="text" class="box2" value="" placeholder="Address Line 1">
                </div>
                <div class="Mobile">
                    <h6>Address Line2</h6>
                    <input type="text" class="box2" value="" placeholder="Address Line 2">
                </div>
                <div class="Mobile">
                    <h6>Postcode</h6>
                    <input type="text" class="box2" value="" placeholder="Postcode">
                </div>
                <div class="Mobile">
                    <h6>State</h6>
                    <input type="text" class="box2" value="" placeholder="State">
                </div>
                <div class="Mobile">
                    <h6>Area</h6>
                    <input type="text" class="box2" value="" placeholder="Area">
                </div>
                <div class="Mobile">
                    <h6>Email</h6>
                    <input type="text" class="box2" value="" placeholder="@gmail.com">
                </div>
                <div class="Mobile">
                    <h6>Email</h6>
                    <input type="text" class="box2" value="" placeholder="@gmail.com">
                </div>
                <div class="name">
                    <h6>Countary</h6>
                    <input type="text" class="box1" value="" placeholder="Countary">
                </div>
                <div class="surname">
                    <h6>State/Reagion</h6>
                    <input type="text" class="box1" value="" placeholder="optional">
                </div>
                <div class="swb">
                    <button class="sav" type="button">Save Profile</button>
                </div>
            </div>
            <div class="column right">
                <h5>Upload File</h5>
                <input type="file">
                <div class="r">
                    <h5>image type</h5>
                    <div class="r1"></div>
                    <h5>text type</h5>
                    <div class="r2"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>